<div class="table-responsive">
    <div class="card-header">
        <h4 class="card-title mb-4 mt-2">Administrar publicaciones</h4>
    </div>
    <table class="table table-hover mt-2">
        <thead>
            <tr class="table-active">
                <th scope="col">Titulo</th>
                <th scope="col">Imagen</th>
                <th scope="col">Descripcion</th>
                <th scope="col"><button type="button" class="btn btn-success" (click)="create()">Nueva Publicación</button></th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of list">
                <th scope="row">{{item.titlePost}}</th>
                <td>
                    <img src="{{item.imagePost}}" class="d-block user-select-none" width="50%" height="150" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                    <rect width="50%" height="50%" fill="#868e96"></rect>


                    <td>{{item.contentPost}}</td>



                    <td class="d-grid gap-3 d-md-block">


                        <button type="button" class="btn btn-info " (click)="edit(item)">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="delete(item.id)">Eliminar</button></td>
            </tr>

        </tbody>
    </table>

</div>